body {
  background-color: lightslategray;
  height: 100vh;
  position: relative;
}

nav {
  background-color: rgb(1, 85, 130);
  box-shadow: 4px 4px 2px rgb(35, 57, 75);
}

.hidden {
  display: none;
}

.list-section {
  padding: 40px;
}

h1 {
  text-align: center;
  color: white;
  font-family: sans-serif;
  margin-bottom: 25px;
}

#list:hover {
  color: green;
}

#add:hover { color: green; }

#contact:hover { color: green; }

form button {
  height: 40px;
  width: 220px;
  border: none;
  margin-left: 3%;
  border-radius: 10px;
  background-color: rgb(1, 85, 130);
  font-weight: 600;
  font-size: 18px;
  color: white;
  box-shadow: 2px 5px 2px black;
}

.container button {
  height: 40px;
  width: 200px;
  border: none;
  border-radius: 10px;
  background-color: rgb(1, 85, 130);
  font-weight: 600;
  font-size: 18px;
  color: white;
  box-shadow: 2px 5px 2px black;
}

form button:hover {
  background-color: green;
}

.books {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.container {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-family: sans-serif;
  margin: 10px 0;
  width: 100%;
}

.container h2 {
  margin: 0 5%;
}

.container button:hover {
  background-color: rgb(196, 4, 4);
}

#book-form {
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  text-align: center;
  padding: 20px 60px;
}

section {
  margin-top: 50px;
}

form label input {
  padding: 2%;
  flex-direction: column;
  width: 320px;
  border: none;
  margin: 4%;
  border-radius: 10px;
  height: 30px;
}

.contact-p {
  text-align: center;
  color: #3f51b5;
  font-size: 25px;
}

.contact-section ul {
  margin: 0;
  list-style: none;
}

.contact-section li {
  width: 250px;
  margin: 0 auto 5px;
}

.contact-section a {
  text-transform: capitalize;
  color: white;
  font-size: 20px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  border: solid 1px white;
  border-width: 1px 0 0;
  padding: 20px;
  margin-top: 30px;
  text-transform: capitalize;
}
